<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17877496359-tm5n4uigrj3nivgojfo3qk5dp392ildv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17877496359-tm5n4uigrj3nivgojfo3qk5dp392ildv</string>
	<key>API_KEY</key>
	<string>AIzaSyBGXZAFy-6xIcG74nSynvDbJRK-cFiz_1E</string>
	<key>GCM_SENDER_ID</key>
	<string>17877496359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kh.sos</string>
	<key>PROJECT_ID</key>
	<string>com-kh-sos</string>
	<key>STORAGE_BUCKET</key>
	<string>com-kh-sos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17877496359:ios:cd0b337074990a4ed45402</string>
</dict>
</plist>